// your global classes and style-settings
.iOS
  cursor: pointer;

body
  font-family: 'Barlow'
  font-style: normal
  font-weight: 700
  text-transform: uppercase

.wrap
  width: 100%
  max-width: 1080px

  margin: 0 auto
  padding: 0 25px